<%- include('../partials/boilerplate') %>

<div class="register">
  <h1>Welcome back!</h1>
</div>
<div class="register">
  <form action="/auth/login" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Log in">
  </form>
</div>

<%- include('../partials/end') %>
