<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,700&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
  <div class=".page-container">
    <%- include('./nav') %>
