<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="nav-container">
      <div class="nav">
        <p><a href="/galleries">Gallery</a></p>
        <ul>
          <li><a href="/images">Top Picks</a></li>
          <li><a href="/galleries">Galleries</a></li>
          <li><a href="/user/<%= user.id %>">Profile</a></li>
        </ul>
      </div>
    </div>
