<div class="nav-container">
  <div class="nav">
    <p class="logo">Gallery</p>
    <ul>
      <li><a href="/images">Top Picks</a></li>
      <li><a href="/galleries">Galleries</a></li>
      <% if (auth) { %>
        <li><a href="/auth/logout">Logout</a></li>
      <% } else {%>
        <li><a href="/auth/login">Login</a></li>
      <% } %>
    </ul>
  </div>
</div>
