
  <div class="nav-container">
    <div class="nav">
      <p class="logo">Gallery</p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/images">Top Picks</a></li>
        <li><a href="/galleries">Galleries</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="auth/logout">Logout</a></li>
      </ul>
    </div>
  </div>
