<%- include('./partials/boilerplate') %>
<%- include('./partials/boilerplate') %>

<div class="main">
  <div class="home-text">
    <h1>Finding inspiration</h1>
  </div>
  <div class="log-in">
    <h2><a href="auth/login">Log in</a></h2>
    <p>Don't have an account?<a href="/user/new">Sign up!</a></p>
  </div>
</div>

<%- include('./partials/end') %>
