<%- include('../partials/boilerplate') %>

<div class="gallery">
  <h3>gallery.name</h3>
  <p>gallery.description</p>
  <a href="/galleries">Back to all galleries</a>
</div>

<%- include('../partials/end') %>
