body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #130101;
}

footer {
  position: absolute;
  bottom: 0;
  align-items: center;
  color: #fdeedc;
}

/* navbar */
.nav-container {
  background-color: #3c6f7e;
}

.nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.nav a {
  color: #fdeedc;
  font-family: sans-serif;
}

li {
  margin: auto 10px;
}

.logo {
  margin-left: 20px;
  font-size: 2em;
  color: #fdeedc;
}

/* home page */
.main{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}


.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  border: 1px solid #c76412;
  border-radius: 2px;
  text-align: center;
  padding: 10px;

}

.home-text {
  color: #fdeedc;
}

.log-in a, p {
  color: #fdeedc;
}


/* gallery page */
.hero {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-image: url('https://www.isic.nl/media/1395159/rijks.jpg?width=848&height=477&mode=crop&scale=both"');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  opacity: 60;
}

h1 {
  font-size: 5em;
  color: #fdeedc;
}

.gallery {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Piet_Mondriaan%2C_1930_-_Mondrian_Composition_II_in_Red%2C_Blue%2C_and_Yellow.jpg/1024px-Piet_Mondriaan%2C_1930_-_Mondrian_Composition_II_in_Red%2C_Blue%2C_and_Yellow.jpg');
  height: 20vh;
  width: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.gallery-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* auth stuff */
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form input {
  margin: 10px auto;
}

/* images */

.top-images-container {
  display: flex;
  justify-content: space-around;
  }

.image-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  height: 200px;
  width: 200px;
}

img {
  height: 100px;
  width: 100px;
}
