body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  align-items: center;
}

/* navbar */
.nav-container {
  background-color: #3c6f7e;
}

.nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.nav a {
  color: #fdeedc;
  font-family: sans-serif;
}

li {
  margin: auto 10px;
}

.logo {
  margin-left: 20px;
  font-size: 2em;
}

/* home page */
.main, .log-in {
  display: flex;
  justify-content: center;
}

.log-in {
  flex-direction: column;
}


/* gallery page */
.hero {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-image: url('https://www.isic.nl/media/1395159/rijks.jpg?width=848&height=477&mode=crop&scale=both"');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 5em;
}

.gallery {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Piet_Mondriaan%2C_1930_-_Mondrian_Composition_II_in_Red%2C_Blue%2C_and_Yellow.jpg/1024px-Piet_Mondriaan%2C_1930_-_Mondrian_Composition_II_in_Red%2C_Blue%2C_and_Yellow.jpg');
  height: 20vh;
  width: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.gallery-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
